<h2 class="content-block">Tasks</h2>

<dx-data-grid
  class="dx-card wide-card"
  [dataSource]="dataSource"
  keyExpr="id"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
  ></dxo-editing>

  <dxi-column dataField="name" caption="Name" [hidingPriority]="3">
  </dxi-column>

  <dxi-column
    dataField="phone"
    caption="Phone"
    [allowSorting]="false"
    [hidingPriority]="3"
  >
  </dxi-column>

  <dxi-column dataField="country" [hidingPriority]="2"> </dxi-column>
  <dxi-column dataField="city" [hidingPriority]="2"> </dxi-column>
</dx-data-grid>
